/*
Content css
Author : MUHAMAD SYARIF HIDAYATULLAH
* 1. swiper slider
*/

/*
* 1. Swiper for slider
*/
	.swiper-container {
	    width: 100%;
	    height: 450px;
	}
	.swiper-slide {
	    text-align: center;
	    font-size: 18px;
	    background: #fff;
	    /* Center slide text vertically */
	    
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	}
	.swiper-content {
		position: absolute !important;left: auto;top:30%;
	}
	.swiper-title {
		color: #fff;text-shadow: 2px 2px 2px silver;font-weight: 600;font-size: 30px;
	}
	.swiper-description {
		color: #fff;text-shadow: 2px 2px 2px silver;font-weight: 600;font-size: 15px;text-align: left;margin-top: 20px;
	}
	@media screen and (max-width: 420px) {
	    .swiper-content {
	        position: absolute !important;left: auto;top:100px;
	    }
	    .swiper-title {
			color: #fff;text-shadow: 2px 2px 2px silver;font-weight: 600;font-size: 20px;padding: 10px;
		}
		.swiper-description {
			color: #fff;
			text-shadow: 2px 2px 2px silver;font-weight: 600;font-size: 13px;text-align: left;
			margin-top: 10px;
			padding: 10px 40px 10px 40px;
		}
	}